<section class="container-view contact-us-view">
    <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
    <div class="panel panel-default">
        
        <div class="panel-body">
          <div style="padding: 0px 15px;" >
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <h3 style="color: #BFD09B; margin: 0;">Contact Us.</h3>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="https://www.four51.com/Themes/Custom/e707051c-ad0b-4b94-9fed-e069b0ffa76a/DCA/DCA_logo.jpg" style="margin: auto;"/>
                </div>
            </div>
          </div>
          <div style="padding: 15px;" >
            Detonate Cannabis Agency is a Toronto print/design agency specialized in bridging the gap between graphic design 
            and print. We offer a full-circle partnership for our clients where we work with you from start to finish, 
            from initial design concept to tearing down a trade show booth. We take pride in the services we offer but 
            most importantly, value the relationships we have built with our clients and industry partners.
          </div>
          <div style="background-color: #727C57; padding: 15px; color: #fff;">
			A few things that we do really well:<br /><br />
			
&bull;&nbsp;&nbsp;Graphic design and branding<br />
&bull;&nbsp;&nbsp;Digital, offset, and large format printing<br />
&bull;&nbsp;&nbsp;Promotional products<br />
&bull;&nbsp;&nbsp;Custom signage<br />
&bull;&nbsp;&nbsp;Trade show builds<br />
&bull;&nbsp;&nbsp;Retail space interior design<br />
<br />
<br />
<br />
Phone: 416.388.6713<br />
Email: <a href="mailto:info@detonategroup.com" style="text-decoration: none; color: #fff;">info@detonategroup.com</a><br />
<a href="http://www.detonategroup.com" style="text-decoration: none; color: #fff;" target="_blank">www.detonategroup.com/cannabis</a><br />
		</div>
        </div>
    </div>
</section><div class="panel-body"></div>